@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root{
    --text-color: #00fbff;
    --bg-color: #323234;
    --white: #fff;
    --black: #000;
    --mob-color: #444444;
}
body {
/*    background: var(--bg-color); */
    letter-spacing: 1px;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
header {
    background: var(--bg-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    z-index: 1;
}
nav .logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600px;
    color: var(--white);
}
nav .logo a span {
    color: var(--text-color);
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 18px;
    list-style: none;
    z-index: 1;
}
nav ul a{
    text-decoration: none;
    color: var(--white);
    transition: 0.5s ease;
}
nav ul a:hover {
    color: var(--text-color);
}
nav .hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
    scale: 0.8;
}
nav .hamburger .bar,
nav .hamburger::after,
nav .hamburger::before {
    content: '';
    display: block;
    width 100%;
    height: 3px;
    background: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}
nav .hamburger.active::before {
    transform: rotate(-45deg) translate(-8px, 5px);
}
nav .hamburger.active::after {
    transform: rotate(45deg) translate(-8px, -5px);
}
nav .hamburger.active .bar {
    opacity: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    margin: 0 8%;
}
@media (max-width: 1000px) {
    .content {
        flex-direction: column-reverse;
    }
    .right-content{
        margin-bottom: 60px;
    }
}
.left-content {
    flex: 1;
}
.hello h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}
.hello .name{
    color: #fff;
    font-size: 60px;
}
.hello h1 em {
    color: #00FFFF;
}
.left-content .intro p{
    margin-bottom: 20px;
    color: rgb(150, 150, 150);
}
.left-content .cv-download .cv {
    padding: 12px 25px;
    background-color: #00FFFF;
    color: rgb(73, 69, 71);
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.right-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-content img{
    margin-left: 50px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgb(73, 69, 71);
    border-color: #00FFFF;
    border-style: solid;
    border-width: 6px;
    box-shadow: 0 0 60px #00FFFF;;

}
